.box-border {
    display: block;
    border: 1px solid #e0e0e0;
}
/*fragnance section one css area start*/
.fragnance-section-one {
	margin-bottom: 40px;
}
.fragnance-four-eight-content {}
.fragnance-four-eight-content .fragnance-four-eight-left {
	width: 100%;
	height: 485px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	background-color: #f6f6f6;
}
.fragnance-four-eight-content .fragnance-four-eight-left h2 {
	display: block;
    position: absolute;    
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 auto;
    text-align: center;

}
.fragnance-four-eight-content .fragnance-four-eight-left a {
	position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
}
.fragnance-four-eight-content .fragnance-four-eight-left a h3 {
	margin: 0 0 20px;
    font-size: 14px;
}
.fragnance-four-eight-content .fragnance-four-eight-left a img {
	max-width: 50%;
    height: auto;
}

.fragnance-four-eight-right {}
.fragnance-four-eight-right .video-area .fragnance-video {
	width: 100%;
    /*height: 485px !important;*/
	height: 485px;
}
/*fragnance section one css area end */

/*fragnance section two css area start */

.fragnance-section-two {}
.fragnance-section-two .cx-fashion {
    margin-bottom: 0;
}

.play-icon-container {
    display: block;
    position: relative;
}
.play-icon {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
}
.play-icon i {
    font-size: 45px;
    line-height: 70px;
    margin-left: 10px;
}
/*fragnance section two css area end */

/*fragnance section three css area start */
.fragnance-section-three {
    margin-top: 60px;
}
.fragnance-slider-container {
    display: block;
    padding: 40px 0 60px;
    color: #fff;
    background-color: #000;
    text-align: center;
    overflow: hidden;
}
.fragnance-slider-title {}
.fragnance-slider-title h3 {
    margin: 0 auto 30px 25px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: left;
}

.fragnance-slider-content {}
.fragnance-slider-image {}
.fragnance-slider-image figure {
    margin: 0 20px;
}
.fragnance-slider-image figure a {}
.fragnance-slider-image figure a img {}
.fragnance-slider-image figure a figcaption {
    padding: 20px 0 0;
    text-transform: uppercase;
    font-size: 0;
    color: #fff;
    text-align: left;
}
.fragnance-slider-image figure a figcaption h5 {}
.fragnance-slider-image figure a figcaption h4 {}

.slider-nav-left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    cursor: pointer;
}
.slider-nav-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    cursor: pointer;
}

/*fragnance section three css area end */

/*fragnance section four css area start */
.fragnance-section-four {
    padding-top: 40px;
    background-color: #f6f6f6;
}

/*fragnance section four css area end */

/*fragnance section five css area start */
.fragnance-section-five {
    padding-top: 40px;
    background-color: #f6f6f6;
}
.fragnance-section-content .cx-fashion {
    margin-bottom: 0;
}
.push-discover {
    position: relative;
}
.fragnance-image-text {}
.fragnance-image-text {}
.fragnance-image-text figcaption {
    position: absolute;
    bottom: 40px;
    right: 20px;
    text-align: right;
    color: #fff;
}
.fragnance-image-text .push-discover h4 {
    margin: 0 0 25px;
    font-size: 32px;
}
.fragnance-image-text .push-discover p {
    margin: 0 0 25px;
    font-size: 13px;
    line-height: 18px;
}
.fragnance-image-text .push-discover p a {
    margin: 0 0 25px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-decoration: underline;
}
/*fragnance section five css area end */

/*fragnance section six css area start */
.fragnance-section-six {
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    background-color: #f6f6f6;
}
#yourDivID{
    position: fixed;
    /*max-width: 960px;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 9999 ;
}
#yourDivID .video-area{
    width: 100%;
    height: 100%;
}
#yourDivID .video-area #my-video {
    height: 100%;
}
.close-video{

    width: 50px;
    height: 50px;
    float: right;
    top: 50px;
    position: absolute;
    right: 50px;
    z-index: 9999;
    background: red;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;

}